<div class="w-100 h-100 overflow-hidden">
    <div class="row loader-section">
        <div class="col">
            <div class="p-4 pb-0 h-100">
                <label class="font-weight-bold">Importar códigos CSV:</label>
                <div class="h-100 w-100 border text-section overflow-hidden p-2">
                    <label>El formato de fichero csv deberá seguír las siguientes condiciones:</label>
                    <ol>
                        <li>
                            Sin cabecera.
                        </li>
                        <li>
                            Campos separados por el carácter <b>;</b>
                        </li>
                        <li>
                            Primera columna: código CIE
                        </li>
                        <li>
                            Segunda columna: descripción
                        </li>
                    </ol>
                    <p class="terminal w-50">
                        A00.0;Cólera debido a Vibrio cholerae 01, biotipo cholerae;<br/>
                        A00.1;Cólera debido a Vibrio cholerae 01, biotipo El Tor;<br/>
                        A00.9;Cólera, no especificado;<br/>
                        A01.00;Fiebre tifoidea, no especificada;<br/>
                        A01.01;Meningitis tifoidea;
                    </p>
                    <p>
                        <input type="file" (change)="onFileChange($event)" accept="csv/*" [ngClass]="{'disabled': loading}">
                    </p>
                    <p>
                        Registros importados: {{recordsSaved}}
                    </p>
                    <p>
                        Registros vectorizados: {{recordsVectorized}}
                    </p>
                    <p>
                        <ngb-progressbar class="w-100" [showValue]="true" type="success" [value]="percentageVectorized" />
                    </p>                        
                </div>
            </div>
        </div>
    </div>
</div>
