<div class="col-6">
    <form class="p-4">
        <div class="form-group">
            <label for="textToAnalyze">Texto a analizar:</label>
            <textarea class="form-control" formControlName="TextToAnalyze" rows="5"></textarea>
        </div>
        <div class="form-group pt-2">
            <button type="submit" class="btn btn-primary">
                <span class="margin-label">Analizar texto</span>  
            </button>
        </div>
    </form>
</div>
<div class="col-6">
    
</div>