<div class="w-100 h-100 overflow-hidden">
    <div class="row history">
        <div class="col">
            <div class="p-4 pb-0 h-100">
                <label class="font-weight-bold">Textos analizados:</label>
                <div class="h-100 w-100 border text-section overflow-hidden">
                    @if (loadingMain){
                        <div class="d-flex justify-content-center h-100 align-items-center">
                            <div class="spinner-border" role="status">
                            </div>
                        </div>                        
                    }
                    @if(!loadingMain && !error){
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Texto analizado</th>
                                <th scope="col">Fecha de análisis</th>
                            </tr>                            
                        </thead>
                        <tbody>
                        @for (row of analysis; track row){
                            <tr (click)="analysisSelected(row.Id, row.RawText)">
                                <td>{{row.Id}}</td>
                                <td>{{row.RawText | truncate:[100,'...']}}</td>
                                <td>{{row.AnalysisDate}}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination
                            [collectionSize]="collectionSize"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            (pageChange)="refreshOptions()"
                        >
                        </ngb-pagination>
                    </div>
                    }
                </div>                
            </div>
        </div>
    </div>
    <div class="row h-50">        
        <div class="col-6">
            <div class="p-4 h-100">
                <label class="font-weight-bold">Hallazgos:</label>
                @if (loading && !error) {
                <div class="h-100 w-100 text-section border d-flex align-items-center justify-content-center">
                    <div class="d-flex justify-content-center h-100 align-items-center">
                        <div class="spinner-border" role="status">
                        </div>
                    </div> 
                </div>    
                }
                @if (!loading && !error) {
                <div class="h-100 w-100 border text-section">
                    <span class="h-100" [innerHTML]="textUpdated"></span>
                </div>
                }
                @if (error) {
                <div class="h-100 w-100 border d-flex align-items-center justify-content-center">
                    <ngb-progressbar class="m-3 w-100" [showValue]="false" type="danger" [value]="100">Error, please, try again!</ngb-progressbar>
                </div>    
                }
            </div>
        </div>
        <div class="col-6">
            <div class="p-4 h-100">
                <label class="font-weight-bold">Posibles diagnósticos:</label>
                <div class="h-100 w-100 border text-section">
                    @if (loading){
                        <div class="d-flex justify-content-center h-100 align-items-center">
                            <div class="spinner-border" role="status">
                            </div>
                        </div>                        
                    }
                    @if (!loading && !error) {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Texto</th>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Similitud</th>
                            </tr>
                        </thead>
                        <tbody>                                            
                        @for (textAndDiagnostic of textAndDiagnosticList; track $index) {                                                    
                            @for (diagnostic of textAndDiagnostic.diagnostics; track diagnostic; let i = $index) {
                                <tr>
                                    <td>{{textAndDiagnostic.rawText}}</td>
                                    <td>					
                                        {{ diagnostic.code }}
                                    </td>
                                    <td>					
                                        {{ diagnostic.description }}
                                    </td>
                                    <td [ngClass]="{'similarity-veryhigh': diagnostic.similarity >= .8 ,
                                        'similarity-high': diagnostic.similarity < .8 && diagnostic.similarity >= .7,
                                        'similarity-medium': diagnostic.similarity < .7 && diagnostic.similarity >= .6,
                                        'similarity-low': diagnostic.similarity < .6 }">
                                        {{ diagnostic.similarity }}
                                    </td>
                                </tr>
                            }
                        }                        
                        </tbody>
                    </table>
                }
                </div>
            </div>
        </div>
    </div>
</div>